<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
    <h1>Welcome to about section page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt beatae nostrum suscipit! Quae in excepturi repellat blanditiis vel obcaecati, ipsa error itaque nisi numquam debitis voluptates aperiam repudiandae sit adipisci eum placeat exercitationem tempora modi sunt similique ullam minima atque quasi! Voluptates ut dignissimos incidunt iusto ducimus! Quo, itaque.</p>
    <button href="/">go home page</button>
</body>
</html>