<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form method="POST" action="/sumbit">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="enter your username"> <br>
        <label for="password">Password</label>
        <input type="password" name="password" id=""><br>
        <button type="submit" value="login">Login</button>
    </form>
</body>
</html>